@tailwind base;
@tailwind components;
@tailwind utilities;

/* Infinite scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Removed hover pause to keep animation continuous */
/* .animate-scroll:hover {
  animation-play-state: paused;
} */


iframe[title*="chat"], 
.tawk-min-container {
    display: none !important;
}



@keyframes videoFade {
  to {
    opacity: 1;
  }
}

.animate-videoFade {
  animation: videoFade 0.6s ease forwards;
}


